<div class="container container-main">
  <div class="row">
    <div class="panel col-md-6 col-md-offset-3">
      <ol class="breadcrumb">
        <li><%= link_to 'Labs', admin_labs_path %></li>
        <li><%= @lab.name %></li>
        <li><%= link_to 'Champs personnalisés', admin_lab_custom_fields_path(@lab) %></li>
        <li class="active"><%= params[:action].in?(['new', 'create']) ? 'Créer' : 'Modifier' %></li>
      </ol>

      <%= render 'shared/flash' %>

      <%= form_for([:admin, @lab, @custom_field], :html => { :class => 'form-horizontal' }) do |f| %>
        <fieldset>
          <div class="form-group">
            <%= f.label :name, 'Nom', :class => 'control-label col-md-3' %>

            <div class="col-md-9">
              <%= f.text_field :name, :class => 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :field_type, 'Type', :class => 'control-label col-md-3' %>

            <div class="col-md-9">
              <% if @custom_field.persisted? %>
                <%= f.hidden_field :field_type %>
                <div class="form-control-no-input"><%= @custom_field.field_type.text %></div>
              <% else %>
                <%= f.select :field_type, CustomField.field_type.options, {}, :class => 'form-control' %>
              <% end %>
            </div>
          </div>
        </fieldset>

        <div class="enum-options">
          <%= react_component('Admin.CustomFieldsEditor', {
            options: @custom_field.options
          }) %>
        </div>

        <div class="actions">
          <%= link_to 'Annuler', admin_lab_custom_fields_path(@lab), :class => 'btn btn-default' %>
          <%= f.submit 'Enregistrer', :class => 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
