<div class="container container-main">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><%= link_to 'Comptes', admin_labs_path %></li>
        <li><%= @lab.name %></li>
        <li class="active">Champs personnalisés</li>
      </ol>

      <%= link_to 'Ajouter un champs personnalisé', new_admin_lab_custom_field_path(@lab), :class => 'btn btn-primary pull-right btn-new' %>

      <h3>Contacts</h3>

      <% if @contact_custom_fields.any? %>
        <%= render 'custom_fields', custom_fields: @contact_custom_fields %>
      <% else %>
        <p>Aucun.</p>
      <% end %>

      <hr />

      <h3>Organisations</h3>

      <% if @organization_custom_fields.any? %>
        <%= render 'custom_fields', custom_fields: @organization_custom_fields %>
      <% else %>
        <p>Aucun.</p>
      <% end %>

      <hr />

      <h3>Projets</h3>

      <% if @project_custom_fields.any? %>
        <%= render 'custom_fields', custom_fields: @project_custom_fields %>
      <% else %>
        <p>Aucun.</p>
      <% end %>

      <hr />

      <h3>Evènements</h3>

      <% if @event_custom_fields.any? %>
        <%= render 'custom_fields', custom_fields: @event_custom_fields %>
      <% else %>
        <p>Aucun.</p>
      <% end %>
    </div>
  </div>
</div>
