<div class="container container-main">
  <div class="row">
    <div class="panel col-md-6 col-md-offset-3">
      <ol class="breadcrumb">
        <li><%= link_to 'Expertises', admin_fields_path %></li>
        <li class="active"><%= params[:action].in?(['new', 'create']) ? 'Créer une expertise' : 'Modifier une expertise' %></li>
      </ol>

      <%= render 'shared/flash' %>

      <%= form_for([:admin, @field], :html => { :class => 'form-horizontal' }) do |f| %>
        <fieldset>
          <div class="form-group">
            <%= f.label :parent_id, 'Parent', :class => 'control-label col-md-3' %>

            <div class="col-md-9">
              <%= f.select :parent_id, Field.root_options(true), {}, :class => 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :name, 'Nom', :class => 'control-label col-md-3' %>

            <div class="col-md-9">
              <%= f.text_field :name, :class => 'form-control' %>
            </div>
          </div>
        </fieldset>

        <div class="actions">
          <%= link_to 'Annuler', admin_fields_path, :class => 'btn btn-default' %>
          <%= f.submit 'Enregistrer', :class => 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
