<% content_for :title, "Mot de passe oublié ?" %>

<div class="jumbotron">
  <div class="container">
    <div class="col-md-6 col-md-offset-3 well panel">
      <h1>Mot de passe oublié ?</h1>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-horizontal' }) do |f| %>
        <div class="form-group">
          <%= f.label :email, :class => 'control-label col-md-3' %>
          <div class="col-md-9">
            <%= f.email_field :email, :autofocus => true, :class => 'form-control', :placeholder => 'nom@example.com', :required => true %>
          </div>
        </div>

        <div class="actions actions-lg">
          <%= link_to 'Annuler', root_path, :class => 'btn btn-default' %>
          <%= f.submit "Recevoir les instructions par email", :class => 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
