<div class="container-fluid">
  <div class="row">
    <h2>Import de contacts</h2>

    <table class="table">
      <thead>
        <tr>
          <% ContactImport::COLUMNS.values.each do |column_name| %>
            <th><%= column_name %></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @contact_import.rows.each do |row| %>
          <tr>
            <% ContactImport::COLUMNS.keys.each do |attr_name| %>
              <td><%= row.send(attr_name.to_sym) %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= form_tag lab_contact_imports_path(@lab) do |f| %>
      <%= hidden_field_tag 'csv_data', @csv_data %>

      <%= submit_tag 'Importer' %>
    <% end %>
  </div>
</div>
