<div class="container container-main">
  <div class="row">
    <div class="panel col-md-6 col-md-offset-3">
      <ol class="breadcrumb">
        <li><%= link_to 'Contacts', lab_contacts_path(@lab) %></li>
        <li>Importer</li>
      </ol>

      <% if @errors.any? %>
        <div class="alert alert-danger" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <ul>
            <% @errors.each do |error| %>
              <li><%= error %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% if flash[:notice] %>
        <div class="alert alert-success" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <ul>
            <li><%= flash[:notice] %></li>
          </ul>
        </div>
      <% end %>

      <div class="notice">
        <p>
          Vous pouvez importer un ensemble de contacts à partir d'un fichier CSV.
          Un exemple de fichier ayant la bonne structure se trouve ici : <%= link_to "contacts-import.csv", sample_lab_contact_imports_path(@lab, :format => :csv) %>.
        </p>
      </div>

      <%= form_tag lab_contact_imports_path(@lab), :class => 'form-horizontal', :multipart => true do |f| %>
        <fieldset>
          <div class="form-group">
            <%= label_tag 'csv_file', 'Fichier CSV', :class => 'control-label col-md-3' %>

            <div class="col-md-9">
              <%= file_field_tag 'csv_file', :class => 'form-control' %>
            </div>
          </div>
        </fieldset>

        <div class="actions">
          <%= link_to 'Annuler', lab_contacts_path(@lab), :class => 'btn btn-default' %>
          <%= submit_tag 'Analyser le fichier', :class => 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
