<% if current_user %>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="row">
        <div class="navbar-header">
          <a class="navbar-brand" href="<%= root_path %>">
            <%= link_to image_tag('logo.png', :height => 100), root_path %>
            <!--
              <strong>
                SITCOM
              </strong>
            -->
          </a>
        </div>

        <% if params[:controller].split('/').first == 'admin' %>
          <div class="projects">
            <div class="project">
              <h1>Administration</h1>
            </div>
          </div>

          <ul class="nav navbar-nav sections">
            <li>
              <a href="<%= admin_users_path %>">Utilisateurs</a>
            </li>
          </ul>
        <% else %>
          <div class="projects">
            <div class="project">
              <h1>Smart Gastronomy Lab</h1>
              <i class="fa fa-caret-down"></i>
            </div>
          </div>

          <ul class="nav navbar-nav sections">
            <li>
              <a href="<%= contacts_path %>">Contacts</a>
            </li>
            <li>
              <a href="<%= contacts_path %>">Organisations</a>
            </li>
            <li>
              <a href="<%= contacts_path %>">Projets</a>
            </li>
            <li>
              <a href="<%= contacts_path %>">Evenements</a>
            </li>
          </ul>
        <% end %>

        <%= render 'shared/header_user' %>
      </div>
    </div>
  </nav>
<% end %>
