<% if display_header? %>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="row">
        <div class="navbar-header">
          <a class="navbar-brand" href="<%= current_lab ? lab_contacts_path(current_lab) : root_path %>">
            <%= image_tag('logo.svg', :height => 100) %>
          </a>
        </div>

        <% if admin_page? %>
          <div class="projects">
            <div class="project">
              <h1>Administration</h1>
            </div>
          </div>

          <ul class="nav navbar-nav sections">
            <li>
              <a href="<%= admin_users_path %>">Utilisateurs</a>
            </li>

            <li>
              <a href="<%= admin_labs_path %>">Labs</a>
            </li>
          </ul>
        <% else %>
          <div class="projects">
            <div class="project">
              <% if current_lab %>
                <h1><%= current_lab.name %></h1>
                <i class="fa fa-caret-down"></i>
              <% else %>
                <h1>&nbsp;</h1>
              <% end %>
            </div>
          </div>

          <% if current_lab %>
            <ul class="nav navbar-nav sections">
              <li>
                <a href="<%= lab_contacts_path(current_lab) %>">Contacts</a>
              </li>
              <li>
                <a href="<%= lab_contacts_path(current_lab) %>">Organisations</a>
              </li>
              <li>
                <a href="<%= lab_contacts_path(current_lab) %>">Projets</a>
              </li>
              <li>
                <a href="<%= lab_contacts_path(current_lab) %>">Evenements</a>
              </li>
            </ul>
          <% end %>
        <% end %>

        <%= render 'shared/header_user' %>
      </div>
    </div>
  </nav>
<% end %>
