<% if current_user %>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="row">
        <div class="navbar-header">
          <% if @lab %>
            <a class="navbar-brand" href="<%= root_path(:lab_slug => @lab.slug) %>">
              <%= image_tag('logo.svg', :height => 100) %>
            </a>
          <% else %>
            <a class="navbar-brand" href="<%= main_root_path %>">
              <%= image_tag('logo.svg', :height => 100) %>
            </a>
          <% end %>
        </div>

        <% if params[:controller].split('/').first == 'admin' %>
          <div class="projects">
            <div class="project">
              <h1>Administration</h1>
            </div>
          </div>

          <ul class="nav navbar-nav sections">
            <li>
              <a href="<%= admin_users_path %>">Utilisateurs</a>
            </li>

            <li>
              <a href="<%= admin_labs_path %>">Labs</a>
            </li>
          </ul>
        <% else %>
          <div class="projects">
            <div class="project">
              <% if @lab %>
                <h1><%= @lab.name %></h1>
                <i class="fa fa-caret-down"></i>
              <% else %>
                <h1>&nbsp;</h1>
              <% end %>
            </div>
          </div>

          <% if @lab %>
            <ul class="nav navbar-nav sections">
              <li>
                <a href="<%= contacts_path(:lab_slug => @lab.slug) %>">Contacts</a>
              </li>
              <li>
                <a href="<%= contacts_path(:lab_slug => @lab.slug) %>">Organisations</a>
              </li>
              <li>
                <a href="<%= contacts_path(:lab_slug => @lab.slug) %>">Projets</a>
              </li>
              <li>
                <a href="<%= contacts_path(:lab_slug => @lab.slug) %>">Evenements</a>
              </li>
            </ul>
          <% end %>
        <% end %>

        <%= render 'shared/header_user' %>
      </div>
    </div>
  </nav>
<% end %>
