<% if display_header? %>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="row">
        <div class="navbar-header">
          <a class="navbar-brand" href="<%= @lab ? lab_contacts_path(@lab) : root_path %>">
            <%= image_tag('logo.svg', :height => 100) %>
          </a>
        </div>

        <% if admin_page? %>
          <div class="projects">
            <div class="project">
              <h1>Administration</h1>
            </div>
          </div>

          <ul class="nav navbar-nav sections">
            <li>
              <a href="<%= admin_users_path %>">Utilisateurs</a>
            </li>

            <li>
              <a href="<%= admin_labs_path %>">Labs</a>
            </li>

            <li>
              <a href="<%= admin_fields_path %>">Domaines</a>
            </li>
          </ul>
        <% else %>
          <div class="labs">
            <div class="lab">
              <% if @lab %>
                <h1><%= @lab.name %></h1>

                <%= link_to profile_current_lab_path, :method => :delete do %>
                  <i class="fa fa-caret-down"></i>
                <% end %>
              <% else %>
                <h1>&nbsp;</h1>
              <% end %>
            </div>
          </div>

          <% if @lab %>
            <ul class="nav navbar-nav sections">
              <li class="contacts">
                <a href="<%= lab_contacts_path(@lab) %>">Contacts</a>
              </li>
              <li class="organizations">
                <a href="<%= lab_organizations_path(@lab) %>">Organisations</a>
              </li>
              <li class="projects">
                <a href="<%= lab_projects_path(@lab) %>">Projets</a>
              </li>
              <li class="events">
                <a href="<%= lab_events_path(@lab) %>">Evènements</a>
              </li>
            </ul>
          <% end %>
        <% end %>

        <%= render 'shared/header_user' %>
      </div>
    </div>
  </nav>
<% end %>
