<% if display_header? %>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="row">

        <% if admin_page? %>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Afficher la navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="<%= root_path %>">
              Administration
            </a>
          </div>

          <div id="navbar" style="float:left"  class="navbar-collapse collapse">
            <ul class="nav navbar-nav sections">
              <li class="<%= params[:controller] == 'admin/users' || params[:controller] == 'admin/lab_user_links' || params[:controller] == 'admin/api_keys' ? 'selected' : '' %>">
                <a href="<%= admin_users_path %>">Utilisateurs</a>
              </li>

              <li class="<%= params[:controller] == 'admin/labs' || params[:controller] == 'admin/custom_fields' ? 'selected' : '' %>">
                <a href="<%= admin_labs_path %>">Labs</a>
              </li>
            </ul>
          </div>
        <% elsif @lab %>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Afficher la navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="<%= @lab ? lab_contacts_path(@lab) : root_path %>">
              <%= @lab.name %>
            </a>
          </div>

          <div id="navbar" style="float:left" class="navbar-collapse collapse">
            <ul class="nav navbar-nav sections">
              <% selected = params[:controller] == 'item_imports' && params[:item_type] == 'contact' %>
              <li class="contacts<%= ' selected' if selected %>">
                <a href="<%= lab_contacts_path(@lab) %>">Contacts</a>
              </li>

              <% selected = params[:controller] == 'item_imports' && params[:item_type] == 'organization' %>
              <li class="organizations<%= ' selected' if selected %>">
                <a href="<%= lab_organizations_path(@lab) %>">Organisations</a>
              </li>

              <% selected = params[:controller] == 'item_imports' && params[:item_type] == 'project' %>
              <li class="projects<%= ' selected' if selected %>">
                <a href="<%= lab_projects_path(@lab) %>">Projets</a>
              </li>

              <% selected = params[:controller] == 'item_imports' && params[:item_type] == 'event' %>
              <li class="events<%= ' selected' if selected %>">
                <a href="<%= lab_events_path(@lab) %>">Évènements</a>
              </li>
            </ul>
          </div>
        <% end %>

        <%= render 'shared/header_user' %>
      </div>
    </div>
  </nav>
<% end %>
