<% if params[:controller].split('/').first == 'admin' %>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a id="brand" class="navbar-brand" href="<%= admin_root_path %>">Sitcom Admin</a>
      </div>


      <ul class="nav navbar-nav">
        <% admin_users_tab_active = params[:controller] == 'admin/users' %>
        <li<%= ' class="active"'.html_safe if admin_users_tab_active %>>
          <a href="<%= admin_users_path %>">Utilisateurs</a>
        </li>
      </ul>

      <%= render 'shared/user_menu' %>
    </div>
  </div>
<% else %>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a id="brand" class="navbar-brand" href="<%= admin_root_path %>">Sitcom</a>
      </div>


      <ul class="nav navbar-nav">
        <% contacts_tab_active = params[:controller] == 'contacts' %>
        <li<%= ' class="active"'.html_safe if contacts_tab_active %>>
          <a href="<%= contacts_path %>">Contacts</a>
        </li>
      </ul>

      <%= render 'shared/user_menu' %>
    </div>
  </div>
<% end %>
