<table class="table import-preview">
  <thead>
    <tr>
      <% @item_import_class::COLUMNS.values.each do |column_name| %>
        <th><%= column_name.gsub(' (', '<br/>(').html_safe %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @item_import.rows.each do |row| %>
      <tr class="<%= row.duplicate ? 'duplicate' : '' %>">
        <% @item_import_class::COLUMNS.keys.each do |attr_name| %>
          <% if attr_name == :organization %>
            <td>
              <% className = row.linked_organization_found? ? 'found' : 'not-found' %>
              <% text      = row.linked_organization_found? ? 'Organisation présente (elle sera associée)' : 'Organisation non-présente (elle ne sera pas associée)' %>
              <span class="<%= className %>"><%= row.organization %></span>
              <i class="fa fa-info-circle" title="<%= text %>"></i>
            </td>
          <% else %>
            <td><%= row.send(attr_name.to_sym) %></td>
          <% end %>
        <% end %>
      </tr>

      <% if row.duplicate %>
        <tr class="duplicate-warning">
          <td colspan="12">
            <i class="fa fa-warning"></i>
            Un<%= @item_type == 'organization' ? 'e' : '' %> <%= @item_type_name %> du même nom existe déjà (homonyme).

            <% if @item_type == 'contact' %>
              Un nouveau contact sera néanmoins créé sur base de ces valeurs.
            <% else %>
              Ces informations seront donc ignorées.
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
