<div class="container-fluid container-main">
  <div class="row row-fluid">
    <div class="panel col-md-12">
      <ol class="breadcrumb">
        <li><%= link_to @item_type_name.capitalize, send("lab_#{@item_type}s_path", @lab) %></li>
        <li>Validation de l'importation</li>
      </ol>

      <%= render "table" %>

      <%= form_tag lab_item_imports_path(@lab, { :item_type => @item_type }) do |f| %>
        <%= hidden_field_tag 'csv_data', @csv_data %>

        <div class="actions">
          <%= link_to 'Annuler', send("lab_#{@item_type}s_path", @lab), :class => 'btn btn-default' %>
          <%= submit_tag 'Importer', :class => 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
