<div class="container-fluid container-main">
  <div class="row row-fluid">
    <div class="panel col-md-12">
      <ol class="breadcrumb">
        <li><%= link_to @item_type_name.capitalize, send("lab_#{@item_type}s_path", @lab) %></li>
        <li>Validation de l'importation</li>
      </ol>

      <%= render "table" %>

      <br />

      <% if @warnings.any? %>
        <div class="alert alert-warning" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <ul>
            <% @warnings.each do |error| %>
              <li><%= error %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= form_tag lab_item_imports_path(@lab, { :item_type => @item_type }) do |f| %>
        <%= hidden_field_tag 'uuid', @uuid  %>

        <div class="actions">
          <%= link_to 'Annuler', send("lab_#{@item_type}s_path", @lab), :class => 'btn btn-default' %>
          <%= submit_tag "Valider l'importation", :class => 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
