<tr>
  <td>
    <%= lab.name %>
  </td>

  <td><%= link_to "#{lab.fields.count} expertises",                  admin_lab_fields_path(lab),        :class => '' %></td>
  <td><%= link_to "#{lab.custom_fields.count} champs personnalisés", admin_lab_custom_fields_path(lab), :class => '' %></td>

  <td class="center">
    <% if lab.mailchimp_configured? %>
      <%= fa('check') %>
    <% end %>
  </td>

  <td class="actions">
    <%= link_to fa('edit'),   edit_admin_lab_path(lab), :class => 'btn btn-xs btn-primary' %>
    <%= link_to fa('remove'), admin_lab_path(lab),      :class => 'btn btn-xs btn-danger', :data => { :confirm => "Supprimer ce lab ?" }, :method => :delete %>
  </td>
</tr>
