<tr>
  <td><%= user.name %></td>
  <td><%= user.email %></td>

  <td class="center">
    <% if user.admin? %>
      <%= fa('check') %>
    <% end %>
  </td>

  <td class="number"><%= user.labs.count %></td>
  <td><%= user.last_sign_in_at.present? ? l(user.last_sign_in_at, format: :short) : 'Never' %></td>

  <td class="actions">
    <% unless user.admin? || user.labs.empty? %>
      <%= link_to fa('lock'), admin_user_lab_user_links_path(user), :class => 'btn btn-xs btn-default' %>
    <% end %>

    <%= link_to fa('edit'), edit_admin_user_path(user), :class => 'btn btn-xs btn-default' %>
    <%= link_to fa('remove'), admin_user_path(user), :class => "btn btn-xs btn-danger #{user.id == current_user.id ? 'not-visible' : ''}", :data => { :confirm => "Supprimer cet utilisateur ?" }, :method => :delete %>
  </td>
</tr>
