<div class="container container-main">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <ol class="breadcrumb">
        <li><%= link_to 'Utilisateurs', admin_users_path %></li>
        <li class="active"><%= params[:action].in?(['new', 'create']) ? 'Créer un utilisateur' : 'Modifier un utilisateur' %></li>
      </ol>

      <%= render 'shared/flash' %>

      <%= form_for([:admin, @user], :html => { :class => 'form-horizontal' }) do |f| %>
        <fieldset>
          <legend>Général</legend>

          <div class="form-group">
            <%= f.label :name, 'Nom', :class => 'control-label col-md-3' %>

            <div class="col-md-9">
              <%= f.text_field :name, :class => 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :email, 'Email', :class => 'control-label col-md-3' %>

            <div class="col-md-9">
              <%= f.text_field :email, :class => 'form-control' %>
            </div>
          </div>
        </fieldset>



        <fieldset>
          <% if @user.persisted? %>
            <legend>Changer le mot de passe</legend>
          <% else %>
            <legend>Mot de passe</legend>
          <% end %>

          <% if @user.persisted? %>
            <div class="alert alert-info">Ne pas remplir les champs pour garder le mot de passe actuel.</div>
          <% end %>

          <div class="form-group">
            <%= f.label :password, 'Mot de passe', :class => 'control-label col-md-3' %>

            <div class="col-md-9">
              <%= f.password_field :password, :class => 'form-control', :placeholder => '' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, 'Confirmation', :class => 'control-label col-md-3' %>

            <div class="col-md-9">
              <%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => '' %>
            </div>
          </div>
        </fieldset>

        <div class="form-group">
          <div class="col-md-offset-3 col-md-9">
            <%= f.submit 'Enregistrer', :class => 'btn btn-default' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
