<div class="container container-main">
  <div class="row">
    <div class="panel col-md-6 col-md-offset-3">
      <ol class="breadcrumb">
        <li><%= link_to 'Utilisateurs', admin_users_path %></li>
        <li class="active"><%= params[:action].in?(['new', 'create']) ? 'Créer un utilisateur' : 'Modifier un utilisateur' %></li>
      </ol>

      <%= render 'shared/flash' %>

      <%= form_for([:admin, @user], :html => { :class => 'form-horizontal' }) do |f| %>
        <fieldset>
          <div class="form-group">
            <%= f.label :name, 'Nom', :class => 'control-label col-md-3' %>

            <div class="col-md-9">
              <%= f.text_field :name, :class => 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :email, 'Email', :class => 'control-label col-md-3' %>

            <div class="col-md-9">
              <%= f.text_field :email, :class => 'form-control' %>
            </div>
          </div>

          <% unless @user.id == current_user.id %>
            <div class="form-group">
              <%= f.label :admin, 'Administrateur', :class => 'control-label col-md-3' %>

              <div class="col-md-9">
                <div class="checkbox">
                  <%= f.check_box :admin %>
                </div>
              </div>
            </div>
          <% end %>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <%= f.label :password, 'Mot de passe', :class => 'control-label col-md-3' %>

            <div class="col-md-9">
              <%= f.password_field :password, :class => 'form-control', :placeholder => '' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, 'Confirmation', :class => 'control-label col-md-3' %>

            <div class="col-md-9">
              <%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => '' %>

              <% if @user.persisted? %>
                <span class="help-block" style="font-size: 11px;">Ne pas remplir les champs "password" pour garder le mot de passe actuel.</span>
              <% end %>
            </div>
          </div>
        </fieldset>

          <div class="form-group">
            <%= f.label :lab_ids, 'Labs', :class => 'control-label col-md-3' %>

            <div class="col-md-9">
              <ul class="labs">
                <% Lab.order(:name).each do |lab| %>
                  <li>
                    <%= check_box_tag 'user[lab_ids][]', lab.id, @user.lab_ids.include?(lab.id), :id => "user_lab_ids_#{lab.id}" %>
                    <label for="user_lab_ids_<%= lab.id %>"><%= lab.name %></label>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </fieldset>

        <div class="actions">
          <%= link_to 'Annuler', admin_users_path, :class => 'btn btn-default' %>
          <%= f.submit 'Enregistrer', :class => 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
