<!DOCTYPE html>
<html>
  <head>
    <title>Sitcom / LLiW</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body data-rails-env="<%= Rails.env %>">

    <%= render 'shared/flash', :flash => flash %>
    <%= render 'shared/user_menu' %>

    <%= yield %>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
